aiogram~=3.20.0.post0
aiohttp~=3.11.18
fastapi~=0.116.1
python-jose~=3.5.0
uvicorn~=0.35.0
pydantic~=2.11.7
SQLAlchemy~=2.0.41
dotenv~=0.9.9
python-dotenv~=1.1.1
pydantic-settings~=2.10.1
pytest~=8.4.1
alembic~=1.16.4
openai~=1.93.0